body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courieur New' 'Segoe UI', 'Roboto', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(7, 242, 7), rgb(95, 236, 105));;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
